# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
.venv/
venv/
ENV/

# Data - only commit samples if data is large
data/raw/*
data/processed/*
!data/sample/

# IDE
.vscode/
.idea/

# Other
*.DS_Store